<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>osu! ladders</title>
    <link href="/ladder/css/bootstrap.min.css" rel="stylesheet">
    <link href="/ladder/css/mine.css" rel="stylesheet">
    <link rel="icon" href="/ladder/img/ladder.png"/> 
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container">
      <div class="row head">
        <div class="col-lg-12 col-xs-12 head">
        <a href="/ladder"><img src="/ladder/img/ladder.png" height="128" alt=""></a>
        </div>
      </div>